<h2>Add New Quesion</h2>
<?php
/**
 * @var AbstractView $block;
 */
use Magento\Catalog\Block\Product\View\AbstractView;
$product_id = $block->getProduct()->getId();
$helper = $this->helper('Tigren\FAQ\Helper\Data');
$question = $helper->getFaqProduct($product_id);
$customer = $helper->checkCustomer();
$checkConfig = $helper->getConfigQuestion();
$iterator = 1;
$total = $question ? $question->count() : 0;
?>
<?php if (!$checkConfig) echo $error?>
<?php if ($customer){ ?>
    <form action="<?php /* @escapeNotVerified */ echo $this->getUrl('faqs/faq/tabproduct/') ?>"
      method="post" id="contact-form" data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>" data-mage-init='{"validation":{}}' style="float: left;">
    <fieldset class="fieldset">
        <div class="field question required" style="width: 600px;">
            <label class="label" for="comment"><span><?php /* @escapeNotVerified */ echo __('Question') ?></span></label>
            <div class="control">
                <textarea name="question" id="comment" title="<?php /* @escapeNotVerified */ echo __('Question') ?>" class="input-text" cols="5" rows="3" data-validate="{required:true}"></textarea>
            </div>
        </div>
        <input type="hidden" name="product_id" value="<?php echo $product_id?>">
        <div class="field email required" style="width: 600px;">
            <label class="label" for="email"><span><?php /* @escapeNotVerified */ echo __('Your Email') ?></span></label>
            <div class="control">
                <input name="sender_email" id="email" title="<?php /* @escapeNotVerified */ echo __('Your Email') ?>"
                       value="<?php echo $block->escapeHtml($this->helper('Magento\Contact\Helper\Data')->getPostValue('email') ?: $this->helper('Magento\Contact\Helper\Data')->getUserEmail()) ?>" class="input-text" type="email" data-validate="{required:true, 'validate-email':true}"/>
            </div>
        </div>
    </fieldset>
    <div class="actions-toolbar">
        <div class="primary">
            <input type="hidden" name="hideit" id="hideit" value="" />
            <button type="submit" title="<?php /* @escapeNotVerified */ echo __('Submit') ?>" class="action submit primary">
                <span><?php /* @escapeNotVerified */ echo __('Submit') ?></span>
            </button>
        </div>
    </div>
</form>
<?php }?>
<?php if (!$customer){echo "You need to login to submit a question";} ?>
    <div style="margin-left: 700px;">
    <ol class="question list">
        <?php foreach ($question as $faq): ?>
            <li class="item<?php echo ($iterator == 1) ? ' first' : ''; ?><?php echo ($total == $iterator) ? ' last' : ''; ?>">
                <div class="question_name">
                    <a href="" title="<?php echo $faq->getQuestion(); ?>">
                        <?php echo $faq->getQuestion(); ?>
                    </a>
                </div>
            </li>
            <?php $iterator++; ?>
        <?php endforeach; ?>
    </ol>
</div>
