<?php $buttonTitle = __('Add to Wishlist'); ?>
<form class="form-add-wishlist" method="post" id="product-form">
    <div id="actionsTg">
        <div class="info-product-tg">
            <?php echo $block->getChildHtml();?>
        </div>
        <button type="submit" class="add-successTg"><?= /* @escapeNotVerified */ $buttonTitle ?></button>
    </div>
</form>
<script type="text/javascript">
    require([
        'jquery'
        ], function ($) {
        $('button.add-successTg').click(function(e){
            e.preventDefault();
            e.stopPropagation();
            $('body').trigger('processStart');
            $.ajax({
                url: "<?= $this->getUrl('wishlistcustom/index/addwishlistsuccess/') ?>",
                type: "POST",
                data: $(".form-add-wishlist").serialize(),
                dataType: "json"
            }).done(function (data) {
                $('body').trigger('processStop');
                $('.contentTg').html(data.html);
            });
        });
    });
</script>