<div id="popup-modal">
    <div class="contentTg"></div>
</div>

<script type="text/x-magento-init">
{
    ".towishlist":
        { "ajaxWishlist": {
            "url": "<?php echo $this->getUrl('wishlistcustom/index/addwishlist')?>"
            }
        }
}
</script>
