.modal-inner-wrap{
  width: 700px !important;
}
.product-popup-info{
  float: right;
  width: 50%;
}
.product-image-popup{
  width: 50%;
  float: left;
}
#customer-login-tg{
  width: 660px;
  margin-left: 135px;
}
.add-successTg{
  margin-left: 319px;
}
.product-info-main-tg{
  width: 100%;
}

.btn-go-to-wishlist-tg{
  float: right;
  margin-top: 71px;
}
.attribute-product-tg{
  width: 50%;
  float: right;
  margin-top: -46px;
}