<?php

/** @var ListFaq $block */

use Tigren\FAQ\Block\Faq\ListFaq;
?>

<?php
$faqCollection = $block->getFaqCollection();
$iterator = 1;
//$keyword = $block->_getKeydata();
//echo '<pre>';print_r($keyword);die;
$total = $faqCollection ? $faqCollection->count() : 0;
?>
<form action="" method="get">
    <input type="text" name="keyword" class="search" placeholder="Search.." style="width: 300px; margin-bottom: 30px;">
    <button type="submit">Search</button>
</form>

<div class="faq-wrapper">
    <ol class="question list">
        <?php foreach ($faqCollection as $faq): ?>

            <li class="item<?php echo ($iterator == 1) ? ' first' : ''; ?><?php echo ($total == $iterator) ? ' last' : ''; ?>">
                <div class="question_name">
                    <a href="" title="<?php echo $faq->getQuestion(); ?>">
                        <?php echo $faq->getQuestion(); ?>
                    </a>
                </div>
            </li>
            <?php $iterator++; ?>
        <?php endforeach; ?>
    </ol>
    <li><a href="<?php echo $this->getViewUrl(); ?>">View All</a></li>
</div>

