<?php

/** @var ViewAll $block */
use Tigren\FAQ\Block\Faq\ViewAll;

?>
<?php
    $faqCollection = $block->getLoadFaqCollection();
    $categoryCollection = $block->getLoadCategoryCollection();
    $iteratorFaq = 1;
    $iteratorCategory = 1;
    $totalFaq = $faqCollection ? $faqCollection->count() : 0;
    $totalCategory = $categoryCollection ? $categoryCollection->count() : 0;
?>
<a href="<?php echo $this->getBackUrl(); ?>">Back</a>
<div class="faq">
    <ol class="faqs_list" style="float: left;">
        <?php foreach ($faqCollection as $faq): ?>
            <li class="item<?php echo ($iteratorFaq == 1) ? ' first' : ''; ?><?php echo ($totalFaq == $iteratorFaq) ? ' last' : ''; ?>">
                <div class="question_name">
                    <a href="" title="<?php echo $faq->getQuestion(); ?>">
                        <?php echo $faq->getQuestion(); ?>
                    </a>
                </div>
            </li>
            <?php $iteratorFaq++; ?>
        <?php endforeach; ?>
    </ol>

    <ol class="category_list" style="margin-left: 400px;">
        <?php foreach ($categoryCollection as $category): ?>
            <li class="item<?php echo ($iteratorCategory == 1) ? ' first' : ''; ?><?php echo ($totalCategory == $iteratorCategory) ? ' last' : ''; ?>">
                <div class="category_title">
                    <a href="<?php echo $this->getCategoryUrl($category); ?>" title="<?php echo $category->getTitle(); ?>">
                        <?php echo $category->getTitle(); ?>
                    </a>
                </div>
            </li>
            <?php $iteratorCategory++; ?>
        <?php endforeach; ?>
    </ol>
</div>